%section#product-list
  .container
    .row.pl-4.pr-4
      .col-md-3.border
        = link_to camc_path do
          = image_tag 'trucks/camc.png', class: 'w-100'
          %h1.position-absolute.w-100.h-100.d-flex.justify-content-center.align-items-center.text-light CAMC
      .col-md-3.border
        = image_tag 'logo-dongfeng.jpeg', class: 'w-100 dark-bg'
        %h1.position-absolute.w-100.h-100.d-flex.justify-content-center.align-items-center.text-dark SOON
      .col-md-3.border
        = image_tag 'logo-sany.jpg', class: 'w-100 dark-bg'
        %h1.position-absolute.w-100.h-100.d-flex.justify-content-center.align-items-center.text-dark SOON
      .col-md-3.border
        = image_tag 'logo-sdlg.png', class: 'w-100 dark-bg'
        %h1.position-absolute.w-100.h-100.d-flex.justify-content-center.align-items-center.text-dark SOON

