= render 'shared/header' 

%section.jumbotron.d-flex.flex-column.text-center.pt-0.pb-0.position-relative.no-border-bottom#hero{"style": "background-image: url('assets/aboutus-bg.png/');"}
  .container.h-100.position-relative
    = render 'navbar'
    .hero-content
      %h3.text-uppercase.text-light.text-left.text-bold Trucks
      %h1.text-uppercase.text-light.text-left.mr-4.mt-4 Built for this.
      %p.text-light.text-left
        Lorem Ipsum

= render 'list'

%section#our-products.mb-4
  .container
    .row.pt-4.mt-4
      .col-md-12
        %h2.text-red.text-bold.text-uppercase Our Products
    .row.pt-4
      .col-md-12
        %h2.text-black CAMC
    .row.pt-4
      = link_to camc_dump_truck_path do
        .col-md-6.mb-4.truck 
          .image-container.w-100.mb-2{style: "background: url(#{asset_path 'trucks/camc/A1.png'}); background-size: cover; height: 350px;"}
          %h3 CAMC 6x4 20m³ &amp; 24m³ Dump Truck
          %p.m-0
            %span.text-bold Model:
            %span HN3252A31C6M4
          %a See full description
      = link_to camc_concrete_mixer_path do
        .col-md-6.mb-4.truck
          .image-container.w-100.mb-2{style: "background: url(#{asset_path 'trucks/camc/A2.png'}); background-size: cover; height: 350px;"}
          %h3 CAMC 10m³ Concrete Mixer
          %p.m-0
            %span.text-bold Model:
            %span HN5250P35C6M3GJB
          %a See full description
      = link_to camc_4x2_tractor_truck_path do
        .col-md-6.mb-4.truck
          .image-container.w-100.mb-2{style: "background: url(#{asset_path 'trucks/camc/A3.png'}); background-size: cover; height: 350px;"}
          %h3 CAMC 4X2 H6 Tractor Truck
          %p.m-0
            %span.text-bold Model:
            %span HN4183X34C4M4
          %a See full description
      = link_to camc_6x4_tractor_truck_path do
        .col-md-6.mb-4.truck
          .image-container.w-100.mb-2{style: "background: url(#{asset_path 'trucks/camc/A4.png'}); background-size: cover; height: 350px;"}
          %h3 CAMC 6X4 H6 Tractor Truck
          %p.m-0
            %span.text-bold Model:
            %span HN4250A37C3M4
          %a See full description

= render 'footer'
