= render 'shared/header' 
    
%section.jumbotron.d-flex.text-center.flex-column.pt-0.pb-0#contact-us
  .container.position-relative
    = render 'navbar'
  .container.pt-4.pb-4.mb-4
    .row.pt-4#contact-content.text-left
      .col-md-8.pt-4.mt-4
        %h2.text-uppercase.text-red Contact Us
        %p.text-left We are here to answer any questions you may have about our trucks. Reach out to us and we'll respond as soon as we can.
        = render 'shared/flash_messages'

        = form_tag 'contact_email' do
          .form-group
            %label Name:
            = text_field_tag 'name', '', class: 'form-control', required: true
          .form-group
            %label Email:
            = text_field_tag 'email', '', class: 'form-control', required: true
          .form-group
            %label Message:
            = text_area_tag 'message', '', class: 'form-control', required: true
          .form-group
            =  submit_tag "Submit", value: "Submit",  class: "form-control border-0 bg-red text-light"
      .col-md-4.pt-4.mt-4
        .contact-group.mb-4
          %h4.text-red Address
          %p 1945 Taft Ave, 3/F Esther Bldg., Malate, Manila Philippines
        .contact-group.mb-4
          %h4.text-red Contact Number
          %p (02) (02) 616-1727 | 0917-119-5270
        .contact-group.mb-4
          %h4.text-red Email Address
          %p ftemachinc@gmail.com
        .contact-group
          %h4.text-red Social Media
          %ul.m-0.p-0.contact-list
            = link_to "https://www.facebook.com/fulltechequipment/" do
              %li.facebook 
                %i.fa.fa-facebook.mr-2
                %span CAMC

= render 'footer'
