= render 'shared/header'    

%section.jumbotron.d-flex.flex-column.text-center.pt-0.pb-0.position-relative#hero{"style": "background-image: url('assets/home-bg.png/')"}
  .container.h-100.position-relative
    = render 'navbar'

    .hero-content
      %h2.text-uppercase.text-light Driving New Solutions
      %h3.text-light Logistics through innovation, dedication, and technology
    .hero-buttons.position-absolute.w-100.d-flex.justify-content-center

%section#products
  .container.position-relative.background-light
    .carousel.slide#carousel{"data-ride": "carousel"}
      %ol.carousel-indicators
        %li.active{"data-target": "#carousel", "data-slide-to": "0"}
        %li{"data-target": "#carousel", "data-slide-to": "1"}
      .carousel-inner
        .carousel-item.active
          .row
            .col-md-4
              = image_tag 'headers/header-1.png', class: 'mb-4 w-100'
              %h2.text-red.text-uppercase Comfortable and Environmental Interior Trim
              %p.small
                The whole body strength of CAMC heavy duty truck is properly distributed , which can fully meet the protection requirement for driver and passenger at the time of crash...
              = link_to "Discover more", comfortable_and_environmental_path, class: 'font-italic'

            .col-md-4
              = image_tag 'headers/header-2.png', class: 'mb-4 w-100'
              %h2.text-red.text-uppercase Product Advantages
              %p.small 
                Complete Vehicle: Reasonable layout and compact structure. We can develop the most practical chassis according to the purpose of the vehicle and working conditions...
              = link_to "Discover more", product_advantages_path, class: 'font-italic'
            .col-md-4
              = image_tag 'headers/header-3.png', class: 'mb-4 w-100'
              %h2.text-red.text-uppercase HANMA ENGINE 
              %p.small
                CAMC Engine is the series of high-performance engine products with independent intellectual property rights that are developed under the cooperation between Anhui Hualing Automobile Co. Ltd and international first-class R&D institutions...
              = link_to "Discover more", hanma_engine_path, class: 'font-italic'
        .carousel-item
          .row
            .col-md-4
              = image_tag 'headers/header-4.png', class: 'mb-4 w-100'
              %h2.text-red.text-uppercase GO GLOBAL
              %p.small
                Through the thorough research of features of foreign heavy duty truck CAMC elaborately designs and creates reliable safe and comfortable product with high technology content and stable quality...
              = link_to "Discover more", go_global_path, class: 'font-italic'
            .col-md-4
              = image_tag 'CAMC-1.jpeg', class: 'mb-4 w-100'
              %h2.text-red.text-uppercase PRODUCTION CAPACITY
              %p.small
                The core parts as engine, cab, axle, frame, electrical system are always at domestic leading level with independent intellectual property rights....
              = link_to "Discover more", product_opacity_path, class: 'font-italic'
            .col-md-4
              = image_tag 'CAMC-7.jpeg', class: 'mb-4 w-100'
              %h2.text-red.text-uppercase ROLE IN THE TRANSPORTATION 
              %p.small
                The frame of CAMC heavy duty truck generally adopts internationally accepted variable cross-section...
              = link_to "Discover more", play_an_important_role_path, class: 'font-italic'

%section#trucks
  .container.text-center
    %h3.text-uppercase.mb-4 Our Products
  .jumbotron.position-relative
    .container.position-relative
      .row
        .col-md-5
          %h4.text-light TRUCKS
          %h1.text-light Built for this.
          %p.text-light Every CAMC trucks delivers functional design, tough construction and reliable performance across a range of applications. So you can tackle every job, day in and day out. These are the machines that makes you legendary

%section#trucks-list
  .container
    .row
      .col-md.p-0.mx-2
        = image_tag 'trucks/camc.png', class: 'w-100 truck-image'
        .description.p-4
          = link_to product_list_path do
            %button.bg-red.text-light.text-uppercase.p-2.w-100.border-0 Learn More
      .col-md.p-0.mx-2
        = image_tag 'trucks/truck2.png', class: 'w-100 truck-image'
        .description.p-4.text-center
          %button.bg-red.text-light.text-uppercase.p-2.w-100.border-0 Learn More
      .col-md.p-0.mx-2
        = image_tag 'trucks/truck3.png', class: 'w-100 truck-image'
        .description.p-4
          %button.bg-red.text-light.text-uppercase.p-2.w-100.border-0 Learn More
      .col-md.p-0.mx-2
        = image_tag 'trucks/truck4.png', class: 'w-100 truck-image'
        .description.p-4
          %button.bg-red.text-light.text-uppercase.p-2.w-100.border-0 Learn More
  .container.discover-more.d-flex.justify-content-end

%section#services
  .jumbotron.position-relative
    .container.text-white.position-relative
      .row
        .col-md-5
          %h4.text-uppercase Services
          %h1 Committed
          %h1 for this.
          %p Truck delivers functional design, tough construction and reliable performance across a range of applications. So you can tackle any job, day in and day out. These are the machines that make you legendary.

%section.mb-4#achievements
  .container
    .row
      .col-md-2.pb-4.mb-4
        = image_tag 'truck-icon.png'
      .col-md-4.pb-4.mb-4
        %h4 Glorious Achievement
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ornare mi ex, non hendrerit lacus commodo ut.
        %a.font-italic See more
      .col-md-2.pb-4.mb-4
        = image_tag 'truck-icon.png'
      .col-md-4.pb-4.mb-4
        %h4 Glorious Achievement
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ornare mi ex, non hendrerit lacus commodo ut.
        %a.font-italic See more
    .row
      .col-md-2
        = image_tag 'truck-icon.png'
      .col-md-4.pb-4.mb-4
        %h4 Glorious Achievement
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ornare mi ex, non hendrerit lacus commodo ut.
        %a.font-italic See more
      .col-md-2
        = image_tag 'truck-icon.png'
      .col-md-4.pb-4.mb-4
        %h4 Glorious Achievement
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ornare mi ex, non hendrerit lacus commodo ut.
        %a.font-italic See more

= render 'footer'
