= render 'shared/header'    

%section.jumbotron.d-flex.flex-column.text-center.pt-0.pb-0.position-relative#hero{"style": "background-image: url('assets/home-bg.png/')"}
  .container.h-100.position-relative
    = render 'navbar'

    .hero-content
      %h2.text-uppercase.text-light Driving New Solutions
      %h3.text-light Logistics through innovation, dedication, and technology
    .hero-buttons.position-absolute.w-100.d-flex.justify-content-center

%section#products
  .container.position-relative.background-light
    .carousel.slide#carousel{"data-ride": "carousel"}
      %ol.carousel-indicators
        %li.active{"data-target": "#carousel", "data-slide-to": "0"}
        %li{"data-target": "#carousel", "data-slide-to": "0"}
      .carousel-inner
        .carousel-item.active
          .row
            .col-md-4
              = image_tag 'header-1.png', class: 'mb-4 w-100'
              %h2.text-red.text-uppercase Comfortable and Environmental Interior Trim
              %p.small
                The whole body strength of CAMC heavy duty truck is properly distributed , which can fully meet the protection requirement for driver and passenger at the time of crash
                %br
                The cab is designed of dimensional circular arc, ensuring enough driving space. Its internal space is broad and bright with wide vision.
                %br
                Its decoration is luxurious and practical. The interior trim adopts international advanced environmental materials.
                %br
                With advanced configuration, the cab is of stable, reliable quality and comfortable to drive.
                %br
                With computer optimized design and absorption of Mitsubishi technical advantages, the all-steel cab has reasonable safety space and high body strength, which can furthest ensure the safety of driver and enhance the body anti-crash capacity.

              %a.font-italic Discover more
            .col-md-4
              = image_tag 'CAMC-2.jpeg', class: 'mb-4 w-100'
              %h2.text-red.text-uppercase Product Advantages
              %p.small 
                Complete Vehicle: Reasonable layout and compact structure. We can develop the most practical chassis according to the purpose of the vehicle and working conditions
                %br
                Power System: Equipped with CAMC Engine which is the representative of the most advanced level. CAMC Engine meets EURO-4 and EURO-5 emission standards with high efficiency, energy conservation, environmental protection and high torque at low speed. Other domestic mature engines are also optional.
                %br
                Suspension System: The traditional mechanical suspension has the advantages of high bearing capacity, high reliability and superior comfort. Air suspension, rubber suspension, etc can be optional to meet the demands of different models.
                %br
                Transmission System: Through rigorous calculation and optimization analysis, different vehicles match reasonable speed ratio and torque to improve the traction ability and fuel cost of the complete vehicle.
                %br
                Axle System: Adopting the full set of self-developed CAMC Axles which are safe, reliable and secure service and can satisfy the requirements of all vehicle models and working conditions.
                %br
                Electrical System: Central control module technology, high reliability and simple maintenance.
              %a.font-italic Discover more
            .col-md-4
              = image_tag 'header-3.png', class: 'mb-4 w-100'
              %h2.text-red.text-uppercase HANMA ENGINE 
              %p.small
                CAMC Engine is the series of high-performance engine products with independent intellectual property rights that are developed under the cooperation between Anhui Hualing Automobile Co. Ltd and international first-class R&D institutions. It includes CM6D18, CM6D28, CM6T18,CM6T28 with displacements of 9.8 liters and 11.8 liters and power range from 199kW to 353 kW
                %br
                The series engine is outstanding products with 6 cylinders inline, 4 valves, integrated cylinder head, overhead camshaft, rear gear chamber. For CAMC diesel engine, BOSCH high pressure common rail oil injection system is adopted and for CAMC natural gas engine WOODWARD electrically-controlled natural gas injection system is applied. The engine B10 lifespan last 1,000,000 km, which can meet EURO 4 and 5 emission standards and also has the potential of developing EURO 6 emission standard.
                %br
                The engine is suitable for highway logistics transportation, engineering transportation and special vehicle, and also can meet the needs of long distance buses, construction machinery, generator set application, etc. Product characteristics: High Power, lower fuel consumption, environmental protection and high reliability.
              %a.font-italic Discover more
        .carousel-item
          .row
            .col-md-4
              = image_tag 'CAMC-4.jpeg', class: 'mb-4 w-100'
              %h2.text-red.text-uppercase GO GLOBAL
              %p.small
                Through the thorough research of features of foreign heavy duty truck CAMC elaborately designs and creates reliable safe and comfortable product with high technology content and stable quality for foreign users and provides perfect after-sales service for overseas users. All products are well accepted by users of all countries and exported to more than 60 countries and areas such as, North America, Middle East, Central Asia, Eastern Europe, South America & Southeast Asia.
              %a.font-italic Discover more
            .col-md-4
              = image_tag 'CAMC-5.jpeg', class: 'mb-4 w-100'
              %h2.text-red.text-uppercase PRODUCTION CAPACITY
              %p.small
                The core parts as engine, cab, axle, frame, electrical system are always at domestic leading level with independent intellectual property rights.
                %br
                With the goal of creating world class product, the company integrates with international and domestic top quality parts resources, such as Bosch, Jacobs, Hansen and so on to establish advanced information management platform, forming perfect, effective and professional  matching system and powerful capacity to provide auxiliary items, which can meet the diversified demands of markets at different levels and in different regions at home and abroad.
                %br
                The company is equipped with world class advanced production lines for pressing, welding, final assembly, test and other processes.
              %a.font-italic Discover more
      /.carousel-control-prev{href: "#carousel", role: "button", "data-slide": "prev"}
      /  %span.carousel-control-prev-icon{"aria-hidden": "true"}
      /  %span.sr-only Previous
      /.carousel-control-next{href: "#carousel", role: "button", "data-slide": "next"}
      /  %span.carousel-control-next-icon{"aria-hidden": "true"}
      /  %span.sr-only Next

%section#trucks
  .container.text-center
    %h3.text-uppercase.mb-4 Our Products
  .jumbotron.position-relative
    .container.position-relative
      .row
        .col-md-5
          %h4.text-light TRUCKS
          %h1.text-light Built for this.
          %p.text-light Every CAMC trucks delivers functional design, tough construction and reliable performance across a range of applications. So you can tackle every job, day in and day out. These are the machines that makes you legendary

%section#trucks-list
  .container
    .row
      .col-md.p-0.mx-2
        = image_tag 'trucks/camc.png', class: 'w-100 truck-image'
        .description.p-4
          = link_to product_list_path do
            %button.bg-red.text-light.text-uppercase.p-2.w-100.border-0 Learn More
      .col-md.p-0.mx-2
        = image_tag 'trucks/truck2.png', class: 'w-100 truck-image'
        .description.p-4.text-center
          %button.bg-red.text-light.text-uppercase.p-2.w-100.border-0 Learn More
      .col-md.p-0.mx-2
        = image_tag 'trucks/truck3.png', class: 'w-100 truck-image'
        .description.p-4
          %button.bg-red.text-light.text-uppercase.p-2.w-100.border-0 Learn More
      .col-md.p-0.mx-2
        = image_tag 'trucks/truck4.png', class: 'w-100 truck-image'
        .description.p-4
          %button.bg-red.text-light.text-uppercase.p-2.w-100.border-0 Learn More
  .container.discover-more.d-flex.justify-content-end

%section#services
  .jumbotron.position-relative
    .container.text-white.position-relative
      .row
        .col-md-5
          %h4.text-uppercase Services
          %h1 Commited
          %h1 for this.
          %p Truck delivers functional design, tough construction and reliable performance across a range of applications. So you can tackle any job, day in and day out. These are the machines that make you legendary.

%section.mb-4#achievements
  .container
    .row
      .col-md-2.pb-4.mb-4
        = image_tag 'truck-icon.png'
      .col-md-4.pb-4.mb-4
        %h4 Glorious Achievement
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ornare mi ex, non hendrerit lacus commodo ut.
        %a.font-italic See more
      .col-md-2.pb-4.mb-4
        = image_tag 'truck-icon.png'
      .col-md-4.pb-4.mb-4
        %h4 Glorious Achievement
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ornare mi ex, non hendrerit lacus commodo ut.
        %a.font-italic See more
    .row
      .col-md-2
        = image_tag 'truck-icon.png'
      .col-md-4.pb-4.mb-4
        %h4 Glorious Achievement
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ornare mi ex, non hendrerit lacus commodo ut.
        %a.font-italic See more
      .col-md-2
        = image_tag 'truck-icon.png'
      .col-md-4.pb-4.mb-4
        %h4 Glorious Achievement
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ornare mi ex, non hendrerit lacus commodo ut.
        %a.font-italic See more

= render 'footer'
