= render 'shared/header' 

%section.jumbotron.d-flex.flex-column.text-center.pt-0.pb-0.position-relative.no-border-bottom#hero{"style": "background-image: url('assets/aboutus-bg.png/');"}
  .container.h-100.position-relative
    = render 'navbar'
    .hero-content
      %h3.text-uppercase.text-light.text-left.text-bold Trucks
      %h1.text-uppercase.text-light.text-left.mr-4.mt-4 Built for this.
      %p.text-light.text-left
        Lorem Ipsum

= render 'list'

%section#our-products.mb-4
  .container
    .row.pt-4
      .col-md-12
        %ul.nav.nav-pills
          %li.active
            %button.btn.btn-danger.text-light.mr-2{"data-toggle": "pill", href: "#content-1"} 10 Wheeler
          %li
            %button.btn.btn-danger.text-light{"data-toggle": "pill", href: "#content-2"} 12 Wheeler

    .tab-content
      #content-1.tab-pane.fade.show.active
        .row.pt-4
          .col-md-12
            %h3 10 Wheeler
            %h3
              %span.text-bold Model:
              %span H1423ASD3
        .row
          .col-md-12
            = image_tag 'trucks/camc/A1.png', class: 'w-100'
        .row.pt-4
          .col-md-6
            .description-container
              %h4.w-100.border-bottom.pb-3
                %span.text-red.text-bold Engine:
                %span.text-red 128378
                %span.text-black.ml-4 420 HP
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
            .description-container
              %h4.w-100.border-bottom.pb-3
                %span.text-red.text-bold Transmission:
                %span.text-red CAMC
              %p
                %span.text-bold Model:
                %span 9SFBHSDF6783
              %p
                %span.text-bold Type:
                %span Mechanical
              %p
                %span.text-bold Ratio:
                .row
                  .col-md-6
                    %p Four-stroke etc.
                    %p Four-stroke etc.
                    %p Four-stroke etc.
                    %p Four-stroke etc.
                  .col-md-6
                    %p Four-stroke etc.
                    %p Four-stroke etc.
                    %p Four-stroke etc.
                    %p Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
            .description-container
              %h4.w-100.border-bottom.pb-3
                %span.text-red.text-bold Transmission:
                %span.text-red CAMC
              %p
                %span.text-bold Model:
                %span 9SFBHSDF6783
              %p
                %span.text-bold Type:
                %span Mechanical
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
            .description-container
              %h4.w-100.border-bottom.pb-3
                %span.text-red.text-bold Transmission:
                %span.text-red CAMC
              %p
                %span.text-bold Model:
                %span 9SFBHSDF6783
              %p
                %span.text-bold Type:
                %span Mechanical
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
            .description-container
              %h4.w-100.border-bottom.pb-3
                %span.text-red.text-bold Transmission:
                %span.text-red CAMC
              %p
                %span.text-bold Model:
                %span 9SFBHSDF6783
              %p
                %span.text-bold Type:
                %span Mechanical

          .col-md-6
            .description-container
              %h4.w-100.border-bottom.pb-3
                %span.text-red.text-bold Engine:
                %span.text-red 128378
                %span.text-black.ml-4 420 HP
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
              %p
                %span.text-bold Max Power:
                %span Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
            .description-container
              %h4.w-100.border-bottom.pb-3
                %span.text-red.text-bold Transmission:
                %span.text-red CAMC
              %p
                %span.text-bold Model:
                %span 9SFBHSDF6783
              %p
                %span.text-bold Type:
                %span Mechanical
              %p
                %span.text-bold Ratio:
                .row
                  .col-md-6
                    %p Four-stroke etc.
                    %p Four-stroke etc.
                    %p Four-stroke etc.
                    %p Four-stroke etc.
                  .col-md-6
                    %p Four-stroke etc.
                    %p Four-stroke etc.
                    %p Four-stroke etc.
                    %p Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
            .description-container
              %h4.w-100.border-bottom.pb-3
                %span.text-red.text-bold Transmission:
                %span.text-red CAMC
              %p
                %span.text-bold Model:
                %span 9SFBHSDF6783
              %p
                %span.text-bold Type:
                %span Mechanical
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
            .description-container
              %h4.w-100.border-bottom.pb-3
                %span.text-red.text-bold Transmission:
                %span.text-red CAMC
              %p
                %span.text-bold Model:
                %span 9SFBHSDF6783
              %p
                %span.text-bold Type:
                %span Mechanical
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
            .description-container
              %h4.w-100.border-bottom.pb-3
                %span.text-red.text-bold Transmission:
                %span.text-red CAMC
              %p
                %span.text-bold Model:
                %span 9SFBHSDF6783
              %p
                %span.text-bold Type:
                %span Mechanical
      #content-2.tab-pane.fade.in.active
        .row.pt-4
          .col-md-12
            %h3 12 Wheeler
            %h3
              %span.text-bold Model:
              %span H1423ASD3
        .row
          .col-md-12
            = image_tag 'aboutus-bg.png', class: 'w-100'
        .row.pt-4
          .col-md-6
            .description-container
              %h4.w-100.border-bottom.pb-3
                %span.text-red.text-bold Engine:
                %span.text-red 128378
                %span.text-black.ml-4 420 HP
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
            .description-container
              %h4.w-100.border-bottom.pb-3
                %span.text-red.text-bold Transmission:
                %span.text-red CAMC
              %p
                %span.text-bold Model:
                %span 9SFBHSDF6783
              %p
                %span.text-bold Type:
                %span Mechanical
              %p
                %span.text-bold Ratio:
                .row
                  .col-md-6
                    %p Four-stroke etc.
                    %p Four-stroke etc.
                    %p Four-stroke etc.
                    %p Four-stroke etc.
                  .col-md-6
                    %p Four-stroke etc.
                    %p Four-stroke etc.
                    %p Four-stroke etc.
                    %p Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
            .description-container
              %h4.w-100.border-bottom.pb-3
                %span.text-red.text-bold Transmission:
                %span.text-red CAMC
              %p
                %span.text-bold Model:
                %span 9SFBHSDF6783
              %p
                %span.text-bold Type:
                %span Mechanical
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
            .description-container
              %h4.w-100.border-bottom.pb-3
                %span.text-red.text-bold Transmission:
                %span.text-red CAMC
              %p
                %span.text-bold Model:
                %span 9SFBHSDF6783
              %p
                %span.text-bold Type:
                %span Mechanical
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
            .description-container
              %h4.w-100.border-bottom.pb-3
                %span.text-red.text-bold Transmission:
                %span.text-red CAMC
              %p
                %span.text-bold Model:
                %span 9SFBHSDF6783
              %p
                %span.text-bold Type:
                %span Mechanical

          .col-md-6
            .description-container
              %h4.w-100.border-bottom.pb-3
                %span.text-red.text-bold Engine:
                %span.text-red 128378
                %span.text-black.ml-4 420 HP
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
              %p
                %span.text-bold Max Power:
                %span Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
            .description-container
              %h4.w-100.border-bottom.pb-3
                %span.text-red.text-bold Transmission:
                %span.text-red CAMC
              %p
                %span.text-bold Model:
                %span 9SFBHSDF6783
              %p
                %span.text-bold Type:
                %span Mechanical
              %p
                %span.text-bold Ratio:
                .row
                  .col-md-6
                    %p Four-stroke etc.
                    %p Four-stroke etc.
                    %p Four-stroke etc.
                    %p Four-stroke etc.
                  .col-md-6
                    %p Four-stroke etc.
                    %p Four-stroke etc.
                    %p Four-stroke etc.
                    %p Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
            .description-container
              %h4.w-100.border-bottom.pb-3
                %span.text-red.text-bold Transmission:
                %span.text-red CAMC
              %p
                %span.text-bold Model:
                %span 9SFBHSDF6783
              %p
                %span.text-bold Type:
                %span Mechanical
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
            .description-container
              %h4.w-100.border-bottom.pb-3
                %span.text-red.text-bold Transmission:
                %span.text-red CAMC
              %p
                %span.text-bold Model:
                %span 9SFBHSDF6783
              %p
                %span.text-bold Type:
                %span Mechanical
              %p
                %span.text-bold Type:
                %span Four-stroke etc.
            .description-container
              %h4.w-100.border-bottom.pb-3
                %span.text-red.text-bold Transmission:
                %span.text-red CAMC
              %p
                %span.text-bold Model:
                %span 9SFBHSDF6783
              %p
                %span.text-bold Type:
                %span Mechanical
                 
%section.bg-light-black.text-light.pt-4#footer
  .container.border-bottom.border-light.pt-4.pb-4
    .row
      .col-md-6
        %h3 Got Questions?
        %p Not finding what you're looking for? Reach out to Mack Service Operations.
        %p
          %a FAQs 
        %p
          %a Request for Assistance
      .col-md-6
        %h3 Training
        %p Watch videos on Mack concrete boom pump training.
        %a View all training materials
    .row
      .col-md-6
        %p Keep in touch with CAMC
        %input.border-0.background-light-black.p-2{type: 'email', placeholder: 'Email'}
      .col-md-6.d-flex.justify-content-end
        %ul
          %li
            %a Find a dealer
          %li
            %a Find a dealer
          %li
            %a Find a dealer
          %li
            %a Find a dealer
          %li
            %a Find a dealer
          %li
            %a Find a dealer
          %li
            %a Find a dealer
        %ul
          %li
            %a Find a dealer
          %li
            %a Find a dealer
          %li
            %a Find a dealer
          %li
            %a Find a dealer
          %li
            %a Find a dealer
          %li
            %a Find a dealer
          %li
            %a Find a dealer
  .container.pt-4
    .row
      .col-md-12.pb-2
        .float-right.text-right
          = image_tag 'logo.png', class: 'mb-4 footer-logo'
          %p Full Tech Equipment and Machinery Inc.
