= render 'shared/header' 

%section.jumbotron.d-flex.flex-column.text-center.pt-0.pb-0.position-relative.no-border-bottom#hero{"style": "background-image: url('assets/aboutus-bg.png/');"}
  .container.h-100.position-relative
    = render 'navbar'
    .hero-content
      %h3.text-uppercase.text-light.text-left.text-bold Trucks
      %h1.text-uppercase.text-light.text-left.mr-4.mt-4 Built for this.
      %p.text-light.text-left
        Lorem Ipsum

= render 'list'

%section#our-products.mb-4
  .container
    .row.pt-4.mt-4
      .col-md-12
        %h2.text-red.text-bold.text-uppercase Our Products
    .row.pt-4
      .col-md-12
        %h2.text-black CAMC
    .row.pt-4
      = link_to product_path do
        .col-md-6.mb-4.truck 
          .image-container.w-100.mb-2{style: "background: url(#{asset_path 'trucks/camc/A1.png'}); background-size: cover; height: 350px;"}
          %h3 Product title
          %p.m-0
            %span.text-bold Model:
            %span H1423ASD3
          %a See full description
      = link_to product_path do
        .col-md-6.mb-4.truck
          .image-container.w-100.mb-2{style: "background: url(#{asset_path 'trucks/camc/A2.png'}); background-size: cover; height: 350px;"}
          %h3 Product title
          %p.m-0
            %span.text-bold Model:
            %span H1423ASD3
          %a See full description
      = link_to product_path do
        .col-md-6.mb-4.truck
          .image-container.w-100.mb-2{style: "background: url(#{asset_path 'trucks/camc/A3.png'}); background-size: cover; height: 350px;"}
          %h3 Product title
          %p.m-0
            %span.text-bold Model:
            %span H1423ASD3
          %a See full description
      = link_to product_path do
        .col-md-6.mb-4.truck
          .image-container.w-100.mb-2{style: "background: url(#{asset_path 'trucks/camc/A4.png'}); background-size: cover; height: 350px;"}
          %h3 Product title
          %p.m-0
            %span.text-bold Model:
            %span H1423ASD3
          %a See full description

= render 'footer'
